USE [master]
GO
/****** Object:  Database [PSA_Hackathon_2025]    Script Date: 20/10/2025 7:28:38 am ******/
CREATE DATABASE [PSA_Hackathon_2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PSA_Hackathon_2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS12\MSSQL\DATA\PSA_Hackathon_2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PSA_Hackathon_2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS12\MSSQL\DATA\PSA_Hackathon_2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSA_Hackathon_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSA_Hackathon_2025]
GO
/****** Object:  Table [dbo].[education]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education](
	[education_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[degree] [varchar](255) NULL,
	[institution] [varchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[education_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_competencies]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_competencies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[competency_name] [varchar](255) NOT NULL,
	[proficiency_level] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_languages]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[language] [varchar](100) NOT NULL,
	[proficiency] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_skills]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_skills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[skill_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [varchar](20) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[office_location] [varchar](255) NULL,
	[line_manager] [varchar](255) NULL,
	[job_title] [varchar](255) NULL,
	[department] [varchar](255) NULL,
	[unit] [varchar](255) NULL,
	[hire_date] [date] NULL,
	[in_role_since] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[experiences]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[experiences](
	[experience_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[experience_type] [varchar](100) NULL,
	[program_name] [varchar](255) NULL,
	[organization] [varchar](255) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[focus] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[experience_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[function_areas]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[function_areas](
	[function_id] [int] IDENTITY(1,1) NOT NULL,
	[function_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[function_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[position_history]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[role_title] [varchar](255) NOT NULL,
	[organization] [varchar](255) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[focus_areas] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_members]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[employee_id] [varchar](20) NOT NULL,
	[role_in_project] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [varchar](255) NOT NULL,
	[employee_id_lead] [varchar](20) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [text] NULL,
	[outcomes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [varchar](255) NOT NULL,
	[specialization_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specializations]    Script Date: 20/10/2025 7:28:38 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specializations](
	[specialization_id] [int] IDENTITY(1,1) NOT NULL,
	[specialization_name] [varchar](255) NOT NULL,
	[function_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[specialization_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[education] ON 

INSERT [dbo].[education] ([education_id], [employee_id], [degree], [institution], [start_date], [end_date]) VALUES (1, N'EMP-20001', N'Bachelor''s Degree, Computer Engineering', N'National University of Singapore (NUS)', CAST(N'2012-08-01' AS Date), CAST(N'2016-06-30' AS Date))
INSERT [dbo].[education] ([education_id], [employee_id], [degree], [institution], [start_date], [end_date]) VALUES (2, N'EMP-20002', N'Bachelor''s Degree, Computer Engineering', N'National University of Singapore (NUS)', CAST(N'2019-08-01' AS Date), CAST(N'2023-06-30' AS Date))
INSERT [dbo].[education] ([education_id], [employee_id], [degree], [institution], [start_date], [end_date]) VALUES (3, N'EMP-20003', N'Master''s Degree, Finance', N'Nanyang Business School (NTU)', CAST(N'2015-08-01' AS Date), CAST(N'2017-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[education] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_competencies] ON 

INSERT [dbo].[employee_competencies] ([id], [employee_id], [competency_name], [proficiency_level]) VALUES (1, N'EMP-20001', N'Stakeholder & Partnership Management', N'Advanced')
INSERT [dbo].[employee_competencies] ([id], [employee_id], [competency_name], [proficiency_level]) VALUES (2, N'EMP-20001', N'Change & Transformation Management', N'Advanced')
INSERT [dbo].[employee_competencies] ([id], [employee_id], [competency_name], [proficiency_level]) VALUES (3, N'EMP-20001', N'Technology Management & Innovation', N'Intermediate')
SET IDENTITY_INSERT [dbo].[employee_competencies] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_languages] ON 

INSERT [dbo].[employee_languages] ([id], [employee_id], [language], [proficiency]) VALUES (1, N'EMP-20001', N'English', N'Fluent')
INSERT [dbo].[employee_languages] ([id], [employee_id], [language], [proficiency]) VALUES (2, N'EMP-20001', N'Korean', N'Intermediate')
INSERT [dbo].[employee_languages] ([id], [employee_id], [language], [proficiency]) VALUES (3, N'EMP-20002', N'English', N'Fluent')
SET IDENTITY_INSERT [dbo].[employee_languages] OFF
GO
SET IDENTITY_INSERT [dbo].[employee_skills] ON 

INSERT [dbo].[employee_skills] ([id], [employee_id], [skill_id]) VALUES (53, N'EMP-20001', 16)
INSERT [dbo].[employee_skills] ([id], [employee_id], [skill_id]) VALUES (54, N'EMP-20001', 17)
INSERT [dbo].[employee_skills] ([id], [employee_id], [skill_id]) VALUES (55, N'EMP-20001', 18)
SET IDENTITY_INSERT [dbo].[employee_skills] OFF
GO
INSERT [dbo].[employees] ([employee_id], [name], [email], [office_location], [line_manager], [job_title], [department], [unit], [hire_date], [in_role_since]) VALUES (N'EMP-20001', N'Samantha Lee', N'samantha.lee@globalpsa.com', N'PSA Singapore', N'Victor Tan', N'Cloud Solutions Architect', N'Information Technology', N'Infrastructure Architecture & Cloud', CAST(N'2016-03-15' AS Date), CAST(N'2022-07-01' AS Date))
INSERT [dbo].[employees] ([employee_id], [name], [email], [office_location], [line_manager], [job_title], [department], [unit], [hire_date], [in_role_since]) VALUES (N'EMP-20002', N'Nur Aisyah Binte Rahman', N'aisyah.rahman@globalpsa.com', N'PSA Singapore', N'Daniel Chua', N'Cybersecurity Analyst', N'Information Technology', N'Cybersecurity Operations', CAST(N'2023-01-15' AS Date), CAST(N'2024-07-01' AS Date))
INSERT [dbo].[employees] ([employee_id], [name], [email], [office_location], [line_manager], [job_title], [department], [unit], [hire_date], [in_role_since]) VALUES (N'EMP-20003', N'Rohan Mehta', N'rohan.mehta@globalpsa.com', N'PSA Singapore', N'Elaine Koh', N'Finance Manager (FP&A)', N'Finance', N'Financial Planning and Analysis', CAST(N'2017-08-01' AS Date), CAST(N'2022-06-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[experiences] ON 

INSERT [dbo].[experiences] ([experience_id], [employee_id], [experience_type], [program_name], [organization], [start_date], [end_date], [focus]) VALUES (3, N'EMP-20002', N'Rotation', N'SOC Rotation', N'PSA Singapore', CAST(N'2024-07-01' AS Date), CAST(N'2025-03-31' AS Date), N'SIEM tuning, alert triage, and vulnerability remediation coordination.')
INSERT [dbo].[experiences] ([experience_id], [employee_id], [experience_type], [program_name], [organization], [start_date], [end_date], [focus]) VALUES (4, N'EMP-20002', N'Exercise', N'Purple Teaming', N'PSA Singapore', CAST(N'2025-02-10' AS Date), CAST(N'2025-02-28' AS Date), N'Attack simulation and detection gap analysis.')
INSERT [dbo].[experiences] ([experience_id], [employee_id], [experience_type], [program_name], [organization], [start_date], [end_date], [focus]) VALUES (5, N'EMP-20003', N'Regional Portfolio', N'APAC FP&A Consolidation', N'PSA Singapore', CAST(N'2022-06-01' AS Date), NULL, N'Budgeting, forecasting, and performance dashboards across APAC terminals.')
SET IDENTITY_INSERT [dbo].[experiences] OFF
GO
SET IDENTITY_INSERT [dbo].[function_areas] ON 

INSERT [dbo].[function_areas] ([function_id], [function_name]) VALUES (6, N'Automation and Robotics')
INSERT [dbo].[function_areas] ([function_id], [function_name]) VALUES (7, N'Business Development')
INSERT [dbo].[function_areas] ([function_id], [function_name]) VALUES (8, N'Commercial')
SET IDENTITY_INSERT [dbo].[function_areas] OFF
GO
SET IDENTITY_INSERT [dbo].[position_history] ON 

INSERT [dbo].[position_history] ([history_id], [employee_id], [role_title], [organization], [start_date], [end_date], [focus_areas]) VALUES (7, N'EMP-20001', N'Cloud Solutions Architect', N'PSA Singapore', CAST(N'2022-07-01' AS Date), NULL, N'Hybrid cloud design, Security-by-design, Cost optimization')
INSERT [dbo].[position_history] ([history_id], [employee_id], [role_title], [organization], [start_date], [end_date], [focus_areas]) VALUES (8, N'EMP-20001', N'Senior Systems Engineer', N'PSA Singapore', CAST(N'2019-01-01' AS Date), CAST(N'2022-06-30' AS Date), N'Containerization, Infrastructure automation')
INSERT [dbo].[position_history] ([history_id], [employee_id], [role_title], [organization], [start_date], [end_date], [focus_areas]) VALUES (9, N'EMP-20001', N'Systems Engineer', N'PSA Singapore', CAST(N'2016-03-15' AS Date), CAST(N'2018-12-31' AS Date), N'On-prem server operations, Network administration')
SET IDENTITY_INSERT [dbo].[position_history] OFF
GO
SET IDENTITY_INSERT [dbo].[project_members] ON 

INSERT [dbo].[project_members] ([id], [project_id], [employee_id], [role_in_project]) VALUES (3, 3, N'EMP-20001', N'Lead Architect')
INSERT [dbo].[project_members] ([id], [project_id], [employee_id], [role_in_project]) VALUES (4, 4, N'EMP-20002', N'Analyst')
INSERT [dbo].[project_members] ([id], [project_id], [employee_id], [role_in_project]) VALUES (5, 5, N'EMP-20003', N'Workstream Lead')
SET IDENTITY_INSERT [dbo].[project_members] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([project_id], [project_name], [employee_id_lead], [start_date], [end_date], [description], [outcomes]) VALUES (3, N'Hybrid Cloud Migration Initiative', NULL, CAST(N'2022-08-01' AS Date), CAST(N'2023-12-31' AS Date), N'Lift-and-shift plus replatform; IaC pipelines; zero-trust access for critical services.', N'30% infrastructure cost reduction, 99.95% service availability achieved')
INSERT [dbo].[projects] ([project_id], [project_name], [employee_id_lead], [start_date], [end_date], [description], [outcomes]) VALUES (4, N'Vulnerability Management Uplift', NULL, CAST(N'2024-08-01' AS Date), CAST(N'2025-03-31' AS Date), N'Streamlined patching SLAs and automated reporting dashboards across business units.', N'Mean Time To Remediate reduced by 22%, Executive risk dashboard adopted')
INSERT [dbo].[projects] ([project_id], [project_name], [employee_id_lead], [start_date], [end_date], [description], [outcomes]) VALUES (5, N'Zero-Based Budgeting (ZBB) Rollout', NULL, CAST(N'2023-02-01' AS Date), CAST(N'2023-09-30' AS Date), N'Designed templates and governance for ZBB across business units.', N'5% Opex reduction YoY, Improved budget transparency')
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([skill_id], [skill_name], [specialization_id]) VALUES (16, N'Cloud Architecture', 2)
INSERT [dbo].[skills] ([skill_id], [skill_name], [specialization_id]) VALUES (17, N'Cloud DevOps & Automation', 3)
INSERT [dbo].[skills] ([skill_id], [skill_name], [specialization_id]) VALUES (18, N'Securing Cloud Infrastructure', 4)
GO
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[specializations] ON 

INSERT [dbo].[specializations] ([specialization_id], [specialization_name], [function_id]) VALUES (1, N'Claims and Insurance', 1)
INSERT [dbo].[specializations] ([specialization_id], [specialization_name], [function_id]) VALUES (2, N'Cloud Computing: Cloud Architecture', 4)
INSERT [dbo].[specializations] ([specialization_id], [specialization_name], [function_id]) VALUES (3, N'Cloud Computing: Cloud DevOps & Automation', 4)
GO
SET IDENTITY_INSERT [dbo].[specializations] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__4A95A39ED3897999]    Script Date: 20/10/2025 7:28:38 am ******/
ALTER TABLE [dbo].[employee_skills] ADD UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164F8B20CFE]    Script Date: 20/10/2025 7:28:38 am ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__function__B6DC728F6E433BB0]    Script Date: 20/10/2025 7:28:38 am ******/
ALTER TABLE [dbo].[function_areas] ADD UNIQUE NONCLUSTERED 
(
	[function_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__skills__73C038AD8F65DE51]    Script Date: 20/10/2025 7:28:38 am ******/
ALTER TABLE [dbo].[skills] ADD UNIQUE NONCLUSTERED 
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__speciali__A28CFD79738E9DB0]    Script Date: 20/10/2025 7:28:38 am ******/
ALTER TABLE [dbo].[specializations] ADD UNIQUE NONCLUSTERED 
(
	[specialization_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[education]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employee_competencies]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employee_languages]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employee_skills]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employee_skills]  WITH CHECK ADD FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([skill_id])
GO
ALTER TABLE [dbo].[experiences]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[position_history]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[project_members]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[project_members]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([project_id])
GO
ALTER TABLE [dbo].[projects]  WITH CHECK ADD FOREIGN KEY([employee_id_lead])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[skills]  WITH CHECK ADD  CONSTRAINT [FK_skills_specialization] FOREIGN KEY([specialization_id])
REFERENCES [dbo].[specializations] ([specialization_id])
GO
ALTER TABLE [dbo].[skills] CHECK CONSTRAINT [FK_skills_specialization]
GO
ALTER TABLE [dbo].[specializations]  WITH CHECK ADD FOREIGN KEY([function_id])
REFERENCES [dbo].[function_areas] ([function_id])
GO
ALTER TABLE [dbo].[employee_competencies]  WITH CHECK ADD CHECK  (([proficiency_level]='Expert' OR [proficiency_level]='Advanced' OR [proficiency_level]='Intermediate' OR [proficiency_level]='Beginner'))
GO
USE [master]
GO
